.products__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  button {
    border: none;
    background-color: transparent;
    font-size: 25px;
    width: 30px;
    cursor: pointer;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__left-form {
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #f5f6fa;
    border: 1px solid #aaa4;
    width: 388px;
    height: 38px;
    opacity: 0px;
    padding: 0px 10px;
    border-radius: 18px;

    input {
      padding: 6px 10px;
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
    }

    svg {
      font-size: 20px;
    }

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 15px;
    img {
      width: 50px;
    }

    svg {
      color: #4880ff;
      font-size: 24px;
    }

    // &__acc {
    //   // gap: 10px;
    //   // display: flex;
    //   // align-items: center;
    //   // svg {
    //   //   font-size: 24px;
    //   //   color: rgb(114, 109, 109);
    //   // }
    //   // button {
    //   //   background-color: #4880ff;
    //   //   font-size: 16px;
    //   //   padding: 10px;
    //   //   border: 50%;
    //   // }
    // }
  }

  select {
    height: 28px;
    width: 80px;
    padding: 2px 4px;
    outline: none;
    border: 1px solid #4880ff;
    border-radius: 5px;
    color: #4880ff;
    cursor: pointer;
  }

  &__title {
    font-size: 20px;
  }

  @media (max-width: 450px) {
    select {
      display: none;
    }
  }
}
