.form {
  h2 {
    font-family: Nunito Sans;
    font-size: 32px;
    line-height: 43.65px;
    letter-spacing: -0.11428570002317429px;
    text-align: left;
    color: #202224;
    padding: 10px 0px 20px;
  }

  &__page {
    background-color: white;
    border-radius: 10px;
    padding: 40px 80px;
  }

  &__page__customer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: flex-end;
    label {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    input {
      padding: 14px;
      outline: none;
      border: 1px solid transparent;
      background-color: #aaa3;
      border-radius: 6px;
    }
  }
  button {
    background-color: #4880ff;
    color: white;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
  }

  @media (max-width: 750px) {
    &__page {
      background-color: white;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 95px;
    }
  }
  @media (max-width: 500px) {
    &__page__customer {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

  @media (max-width: 380px) {
    h2 {
      font-size: 20px;
      line-height: 0;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 2px;
      font-size: 14px;
    }
    button,
    input {
      padding: 8px;
    }
  }
}
