.sidebar {
  position: fixed;
  width: 280px;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  border-right: 1px solid rgb(214, 209, 209);
  flex-direction: column;
  overflow: hidden;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  background-color: white;

  &__profile {
    position: absolute;
    right: 20px;
    top: 60px;
    height: 150px;
    background-color: white;
    width: 180px;
    transition: 0.3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    display: none;
    box-shadow: 1px 1px 10px #aaa2;
    overflow: hidden;
    &__info {
      display: flex;
      flex-direction: column;
      gap: 1px;
      padding-top: 15px;
    }

    &__title:hover {
      background-color: #4880ff;
      color: white;
    }

    &__title {
      font-size: 18px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      padding: 8px;
      transition: 0.6s;
      svg {
        font-size: 20px;
      }
    }

    &__hide {
      display: block;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 20px 5px 10px 14px;
    h1 {
      color: black;
    }
    &__info {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    button {
      padding: 6px 12px;
      border-radius: 50%;
      border: none;
      background-color: #4880ff;
      color: white;
      font-size: 16px;
    }

    &__full {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        padding: 0;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0px 10px;
    svg {
      font-size: 20px;
      width: 25px;
    }
  }

  &__left__text {
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
    font-size: 16px;
    transform: 0.5s;
    width: 270px;
    border-radius: 10px;
    padding: 15px 12px;
    border-left: 2px solid transparent;
    text-wrap: nowrap;
    font-family: Nunito Sans;
  }

  &__left__text.active {
    background-color: #4880ff;
    color: white;
  }

  &__btns {
    gap: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0px 10px;
    svg {
      font-size: 20px;
      width: 25px;
    }

    p {
      color: black;
      font-size: 16px;
      font-family: Nunito Sans;
    }
  }

  &__btns__title {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    p {
      text-wrap: nowrap;
      font-family: Nunito Sans;
    }
    svg {
      font-size: 20px;
      width: 25px;
    }
  }
}
