.table {
  padding: 0px 20px;
  &__row {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
  }
  th,
  td {
    border-bottom: 1px solid #aaa5;
    text-align: left;
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 19.1px;
    text-align: left;
    padding: 10px 20px;
    min-width: 70px;
  }

  td {
    position: relative;
  }
  &__pin {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
    padding: 2px;
    svg {
      font-size: 15px;
    }
  }

  &__budget {
    width: 80px;
    border-radius: 4px;
    color: white;
    text-align: center;
    padding: 4px 10px;
    color: #00b69b;
    overflow: hidden;

    &__green {
      color: #6226ef;
    }

    &__red {
      color: #ef3826;
    }
  }

  th {
    background-color: #ffffff;
  }

  tr:nth-child(odd) {
    background-color: #fcfdfd;
  }

  tr:hover {
    background-color: didSelectRowAtIndexPath ad th;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    button {
      padding: 4px 10px;
      border-radius: 4px;
      border: 1px solid transparent;
    }
    &-price {
      background-color: rgb(204, 64, 92);
      color: white;
    }

    &-view {
      background-color: #4880ff;
      color: white;
    }
  }

  &__pagenation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 30px auto;
  }
}
