.admin {
  display: grid;
  grid-template-columns: 280px 1fr;
  transition: 0.5s;

  &__icon {
    width: 30px;
  }

  &__sidebar {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
  }

  &__close {
    grid-template-columns: 60px 1fr;
  }

  &__bg-top {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
  }

  &__bg {
    background-color: #f5f6fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
  }

  @media (max-width: 920px) {
    grid-template-columns: 60px 1fr;
  }
}
