.admin {
  display: grid;
  grid-template-columns: 230px 1fr;
  transition: 0.5s;
  &__icon {
    width: 30px;
  }

  &__bg-top {
    background-color: white;
  }

  &__close {
    grid-template-columns: 60px 1fr;
  }

  &__bg {
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
